/* Custom Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yeseva+One&display=swap');

/* ROOT values */
:root{
    --gradient: linear-gradient(135deg, #000000, #000000,#000000);
    --footerBg: linear-gradient(135deg, #141212, #0f0d0d,#000000);
    --timelineBg: linear-gradient(100deg, #2e2c2c, #1a1818,#0f0f0f);
    --mainColor: #000000;
    --mainWhite: #ffffff;
    --navHoverColor: rgb(129, 126, 126);
    --colorTwo: #6d6d6d;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    border: none;
}
::selection{
    background-color: royalblue;
    color: var(--mainWhite);
}

html::-webkit-scrollbar{
    width: 1.2rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--mainWhite);
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--mainColor);
    border-radius: 5px;
}

html{
    font-size: 63.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    background-color: var(--mainColor);
}

/* HEADER */
.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: block;
    background: var(--gradient);
    box-shadow: 0 2px 3px #444;
}

/* HEADING */
.heading{
    padding: 0.25rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.heading .logo, .heading div{
    font-size: 2.5rem;
    color: var(--mainWhite);
    margin-right: 2rem;
}
.heading .tel{
    font-size: 1.5rem;
    color: var(--mainWhite);
}
.heading .logo img{
    height: 10vh;
}
.heading #menu{
    cursor: pointer;
}
.fa-times{
    transform: rotate(180deg);
}


/* NAVBAR */
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4%;
    margin: 0;
    width: 100%;
}

.navbar li{
    text-decoration: none;
    list-style: none;
    padding: 0.2rem 0;
}
.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--mainWhite);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: 1rem;
}
.navbar li a:hover{
    color: var(--navHoverColor);
}

.dropdown:hover>.dropdown-menu {
    display: block;
    width: fit-content;
    margin-top: 0.5rem;
    background: var(--gradient);
}
.dropdown:hover>a{
    color: var(--navHoverColor);
}

/* About section */
.about{
    /* background: url('../images/about_atayev.JPG'); */
    background-position: center center;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    height: 120vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content{
    width: 40%;
    margin: 0 0 0 7vw;
}
.content h1{
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-family: 'Yeseva One', sans-serif;
    color: var(--mainWhite);
    text-shadow: 1px 1px 5px var(--colorTwo);
}
.content p{
    color: var(--colorTwo);
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: 2px;
    text-align: left;
}
.content a{
    font-size: 2rem;
    padding: 2rem 3rem;
    background-color: var(--mainWhite);
    border-radius: 15px;
    color: var(--mainColor);
    margin-top: 2rem;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border: none;
}
.content a:hover{
    color: var(--mainWhite);
    background-color: var(--mainColor);
    box-shadow: 
    0 0 16px 0 rgba(255, 255, 255, 0.3),
    inset 0 0 5px 0 rgba(255, 255, 255, 0.3);
}
.content a:active{
    color: var(--colorTwo);
}


/* Countries section */
.countries{
    background: url('../images/countries_atayev.JPG');
    background-color: var(--mainColor);
    background-position: left 8rem;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    padding: 2rem 5%;
}
.countries .countries-heading{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--mainWhite);
    color: var(--mainWhite);
}
.countries .timeline-container{
    padding: 0 5%;
    position: relative;
}
.countries .timeline-container::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--mainWhite);
    transform: translateX(-3rem);
}
.countries .timeline{
    position: relative;
    display: block;
    background: var(--timelineBg);
    padding: 1.2rem 1.75rem;
    width: 50%;
    margin: 5rem 0;
    border-radius: 0px 20px 20px 20px;
}
.countries .timeline:hover{
    box-shadow: 2px 3px 3px var(--mainWhite);
}
.countries .timeline:hover::after{
    background-color: var(--mainColor);
}
.countries .timeline>p{
    position: absolute;
    top: -25px;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--mainWhite);
}
.countries .timeline::after{
    content: '';
    position: absolute;
    top: 0; 
    left: -3rem;
    width: 20px;
    height: 20px;
    background-color: var(--mainWhite);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--mainWhite);
}
.countries .timeline ul{
    list-style: none;
}
.countries .timeline-content .t-date{
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
    color: var(--mainWhite);
}
.countries .timeline-content .t-title{
    font-size: 2.5rem;
    /* color:  */
    color: var(--mainWhite);
}
.countries .timeline-content .t-location{
    font-size: 2rem;
    color: var(--mainWhite);
}
.countries .timeline-content .t-location i{
    margin-right: 0.5rem;
    color: rgb(147, 221, 243);
}


/* FOOTER */
.footer{
    padding: 0;
}
.footer .box-container{
    background: var(--footerBg);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer .box-container .box{
    width: 20%;
    margin-bottom: 1rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--mainWhite);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--mainWhite);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--mainWhite);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--mainWhite);
    border-top: .1rem solid var(--mainWhite);
    background: var(--footerBg);
}

.footer .credit span{
    color:var(--mainWhite);
}



/* MEDIA QUERIES */


@media (min-width: 768.01px) and (max-width: 990px) {
    html{
        font-size: 60%;
    }
    .navbar li a{
        font-size: 1.3rem;
        padding: 1rem 0.75rem;
    }
    .countries .timeline{
        width: 65%;
    }
    .dropdown:hover>.dropdown-menu {
        display: none;
    }
    header .navbar{
        display: none;
    }

    header .navbar.active{
        display: block;
    }
    header .navbar.active a{
        font-size: 2rem;
    }
    header .navbar li {
        margin: 1rem 0;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 58%;
    }
    header .navbar{
        display: none;
    }
    header .navbar.active{
        display: block;
    }
    header .navbar li {
        margin-top: 1rem;
    }
    .dropdown:hover>.dropdown-menu {
        display: none;
    }
    .about{
        align-items: flex-end;
        padding-bottom: 25vh;
    }
    .content{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content h1{
        font-size: 7rem;
        text-align: center;
        width: 100%;
    }
    .content p{
        width: 100%;
        font-size: 3rem;
        margin-top: 2rem;
        text-align: center;
        padding: 0;
    }
    .countries{
        background: var(--mainColor);
    }
    .countries .timeline{
        width: 100%;
    }

    .footer .box-container .box{
        width: 50%;
    }
}
@media (max-width: 480px) {
    html{
        font-size: 50%;
    }
    .content{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content h1{
        font-size: 6rem;
        text-align: center;
    }
    .content p{
        font-size: 2.5rem;
        margin-top: 3rem;
        text-align: center;
        padding: 0;
    }
    .content a{
        margin-top: 3rem;
    }
    .about{
        background-position: -75rem 0;
    }
    .footer .box-container .box{
        width: 100%;
    }
}