/* Custom Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Neucha&display=swap');

/* ROOT values */
:root{
    --gradient: linear-gradient(135deg, #141212, #0f0d0d,#000000);
    --mainColor: #121212;
    --mainWhite: #ffffff;
    --navHoverColor: rgb(129, 126, 126);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    color: var(--mainWhite);
    border: none;
}
::selection{
    background-color: royalblue;
    color: var(--mainWhite);
}

html::-webkit-scrollbar{
    width: 1.2rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--mainWhite);
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--mainColor);
    border-radius: 5px;
}

html{
    font-size: 63.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 0;
    min-height: 50vh;
}

/* HEADER */
header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: block;
    background: var(--gradient);
    box-shadow: 0 2px 3px #444;
}

/* HEADING */
.heading{
    padding: 0.25rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.heading .logo, .heading div{
    font-size: 2.5rem;
    color: var(--mainWhite);
    margin-right: 2rem;
}
.heading .tel{
    font-size: 1.5rem;
    color: var(--mainWhite);
}
.heading .logo img{
    height: 10vh;
}
.heading #menu{
    cursor: pointer;
}
.fa-times{
    transform: rotate(180deg);
}


/* NAVBAR */
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4%;
    margin: 0;
    width: 100%;
}

.navbar li{
    text-decoration: none;
    list-style: none;
    padding: 0.2rem 0;
}
.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--mainWhite);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: 1rem;
}
.navbar li a:hover{
    color: var(--navHoverColor);
}

.dropdown:hover>.dropdown-menu {
    display: block;
    width: fit-content;
    margin-top: 0.5rem;
    background: var(--gradient);
}
.dropdown:hover>a{
    color: var(--navHoverColor);
}

/* About section */
.about{
    background: url('../images/about_atayev.JPG');
    background-position: center bottom;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    height: 150vh;
    margin-top: 15vh;
    position: relative;
}
.content{
    position: absolute;
    top: 13%;
    left: 11%;
    width: 40%;
}
.content h1{
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Neucha', cursive;
}
.content p{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 4rem;
    letter-spacing: 2px;
    padding-right: 5rem;
    width: 80%;
    text-align: left;
}
.content a{
    font-size: 2rem;
    padding: 2rem 3rem;
    background-color: var(--mainWhite);
    border-radius: 15px;
    color: var(--mainColor);
    margin-top: 4rem;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}
.content a:hover{
    color: var(--mainWhite);
    background-color: var(--mainColor);
    box-shadow: 0 5px 8px #ccc;
}



/* FOOTER */
.footer .box-container{
    background: var(--gradient);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer .box-container .box{
    width: 20%;
    margin-bottom: 1rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--mainWhite);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--mainWhite);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--mainWhite);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--mainWhite);
    border-top: .1rem solid var(--mainWhite);
    background: var(--gradient);
}

.footer .credit span{
    color:var(--mainWhite);
}



/* MEDIA QUERIES */


@media (min-width: 768.01px) and (max-width: 990px) {
    html{
        font-size: 58%;
    }
    .navbar li a{
        font-size: 1.3rem;
        padding: 1rem 0.75rem;
    }
    .about{
        margin-top: 14vh;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 52%;
    }
    header .navbar{
        display: none;
    }
    header .navbar.active{
        display: block;
    }
    header .navbar li {
        margin-top: 1rem;
    }
    .dropdown:hover>.dropdown-menu {
        display: none;
    }
    .about{
        margin-top: 10vh;
    }
    .content{
        top: 10%;
        width: 70%;
    }
    .footer .box-container .box{
        width: 50%;
    }
}
@media (max-width: 480px) {
    .content{
        top: 12%;
        width: 80%;
    }
    .content h1{
        font-size: 8rem;
    }
    .content p{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .content a{
        margin-top: 3rem;
    }
    .about{
        background-position: -75rem 0;
    }
}